.body-pendu {
  background-color: rgb(149, 143, 149);

  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// ====================================================================================
.pendu-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;

  padding: 1rem;
  width: min(50rem, 90%);

  color: white;
  background-color: rgb(92, 77, 94);

  border-radius: 1rem;

  box-shadow: 10px 20px 15px rgba(0, 0, 0, 0.176), -10px 20px 15px rgba(0, 0, 0, 0.176);

  // ::::::::::::::::::::::
  .pendu-result {
    text-align: center;

    width: fit-content;
    padding: 5rem 4rem 1rem 4rem;

    font-size: 4rem;
    // border: 1px solid black;
  }
  // ::::::::::::::::::::::
}

// ====================================================================================

.pendu-displayLetter-container {
  display: grid;
  place-items: center;

  font-size: 2rem;
  font-weight: 900;
  text-transform: capitalize;

  width: 4rem;
  height: 4rem;

  border: 2px solid white;
}

.hiddenLetter {
  visibility: hidden;
}
